<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password</title>
</head>
<body>
    <h1>Forgot Password</h1>
    <p>Enter your email and we'll send you a link to reset your password</p>
    <form action="/api/forgot-password" method="post">
        <div>
            <label for="email"></label>
            <input type="email" name="email" id="email" placeholder="Email" required>
        </div>
        <button type="submit">Submit</button>
    </form>
    <p><a href="/api/login">Back to Login</a></p>
</body>
</html>